@import "../../styles/global.scss";
.home{
    .page {
    @include themify($themes) {
        -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
        border-radius: 20px;
        background-color: themed("bg");
        color: themed("textColor");

        position: relative;
        overflow: hidden;


        .vertical-line{
          content: '';
          position: absolute;
          top: 0;
          left: 300px;
          height:200%;
          width: 2px;
          background-color: themed(border);
        }

        .container {
            // max-height: 800px; // Set a fixed height for the user container
            // overflow-y: auto;
            padding: 20px;
            
            .search {
                gap: 30px;
                cursor: pointer;

                background-color: themed("bgSoft");
                display: flex;
                align-items: flex-start;
                margin-bottom: 10px;
                max-width: 250px;
                gap: 10px;
                border: 1px solid themed("border");
                border-radius: 5px;
                padding: 5px;
                position:relative;
                
                
                input {
                    border: none;
                    width: 100px;
                    background-color: transparent;
                    color: themed("textColor");

                    @include tablet{
                        width: 200px;
                    }
                    
                    @include mobile{
                        display: none;
                    }
                }

            }
            .user-container {
                max-height: 90%; // Set a fixed height for the user container
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: themed(bgSoft);
                width: 270px;
                overflow-x: hidden;
                
                &::-webkit-scrollbar {
                    width: 8px;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.3);
                    border-radius: 4px;
                }
        
                &::-webkit-scrollbar-track {
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                }

                .user {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;


                    .userInfo {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .details {
                        display: flex;
                        flex-direction: column;

                        .name {
                        font-weight: 500;
                        }

                        .date {
                        font-size: 12px;
                        }
                    }
                    }
                    button{
                    position: absolute;
                    top: 30px;
                    right: 10px;
                    border: none;
                    background: #f0544f;
                    padding: 5px;
                    cursor: pointer;
                    color: white;
                    }
                }
            }
            .content {
                margin: 20px 0px;

                img {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
                margin-top: 20px;
                }
            }

            .info {
                display: flex;
                align-items: center;
                gap: 20px;

                .item {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                font-size: 14px;
                }
            }
            }
        }
    }
}

            // .searchResults{
            // background-color: themed("bg");
            // position: absolute;
            // display: flex;
            // flex-direction: column;
            // top:40px;
            // left: 20px;
            // width: 490px; /* Adjust the width to your preference */

            // padding: 10px; /* Add padding for the background square */
            // border-radius: 5px; /* Add border-radius for the background square */
            // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
            // // @include tablet{
            // //   width: 200px;
            // // }
            // // @include mobile{
            // //   width: 170px;
            // // }
            //     img {
            //     width: 30px;
            //     height: 30px;
            //     border-radius: 50%;
            //     object-fit: cover;
            //     }
            //     span{
            //     position: absolute;
            //     left: 45px;
            //     color: themed("textColor")
            //     }
            // }